
// @media only screen and (max-width: 1225px)


@media only screen and (max-width: 1025px)

	html, .col
		font-size 14px

	h1
		font-size 3.25em

	h2
		font-size 2.5em

@media only screen and (max-width: 641px)

	html, .col
		font-size 13px

	h1
		font-size 2em
		line-height 1em

	h2
		font-size 2em

	.banner
		padding 150px 0 100px
		min-height auto

	.header
		padding 30px 0 20px 0

		button.toggle
			display block

		nav.nav
			display none
			width 100% !important
			background-color rgba(0, 0, 0, .9)
			border-radius 5px
			text-align center
			padding 10px 0
			position relative
			top 30px

			a
				padding 10px 14px
				display block

	.row, .row-full
		padding-left 10px
		padding-right 10px

	.box
		padding-top 60px
		padding-bottom 60px

		.box-title
			margin-bottom 25px
			text-align center

	.ready
		.text
			margin-bottom 20px
		.text, .button
			text-align center

	.btn
		padding 10px 16px

	.features .item, .clients .review, .blog .item, .footer .item
		padding-left 0
		padding-right 0

		.inner
			padding-left 15px
			padding-right 15px


